<div class="profile-manager">
  <mat-form-field appearance="fill">
    <mat-label>New Profile Name</mat-label>
    <input matInput [(ngModel)]="newProfileName" (keyup.enter)="addProfile()">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addProfile()">Add Profile</button>

  <div *ngIf="profiles.length > 0" class="profile-list">
    <h3>Profiles</h3>
    <div *ngFor="let profile of profiles" class="profile-item">
      <span
        [class.active]="profile.id === activeProfile?.id"
        (click)="selectProfile(profile)"
      >
        {{ profile.name }}
      </span>
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="editProfile(profile)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteProfile(profile)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
