<div class="playlist-detail">
  <button (click)="goBack()">Voltar</button>
  @if (loading()) { Carregando playlist... }

  @if (!loading() && !playlist()) {
    <p>Playlist não encontrada.</p>
  }

  @if (playlist()) {
  <h2>{{ playlist()?.title }}</h2>
  @for (module of playlist()?.modules; track module.title) {
      <h3>{{ module.title }}</h3>
      <ul>
        @for (video of module.videos; track video.youtubeId) {
          <li>
            <label>
              <input type="checkbox" [checked]="isWatched(video.youtubeId)" (change)="toggleWatched(video.youtubeId)" />
              {{ video.title }}
            </label>
            <button [routerLink]="['/playlists', playlist()?.id, 'videos', video.youtubeId]">Assistir</button>
          </li>
        }
      </ul>
    }
  }
</div>
